body{
    background-image: linear-gradient(rgb(120, 83, 3), rgb(184, 84, 122));
}
img{
height: 100%;
    width: 50%;
    float: right;
    opacity: 0.5;
    z-index: -120;
    opacity: 0.3;
    position: fixed;

    margin-left: 290px;
    margin-top: 20px;
    margin-bottom: 300px;
}
#paragrafo1{
   

   margin-top: 50px;
   float:left;
   text-align: left;
   width: 20%;
}



#header{
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top:1px ;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.8;
    font-size: 25px;
}
#rodape{
    color: rgb(255, 255, 255);
    position: fixed;
   margin-top: 450px;
   float: none;
   margin-left: 450px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   opacity: 0.8;
   
    
}

